@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Oswald', sans-serif;
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
}

.main {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 30%;
    height: 65%;
    border-radius: 15px;
    box-shadow: hsl(215, 32%, 27%);
}

.nft-image {
    margin: 20px 40px 0px 40px;
    justify-content: center;
    display: flex;
}

.nft-image img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.nft-desc {
    margin: 0px 40px 0px 40px;
    
}

#Equilibrium {
    font-size: 18px;
    color: #f5f5f5;
}

#Equilibrium-desc {
    font-size: 18px;
    font-weight: 300;
    color: #beb6b6;
}

#price {
    margin-top: 20px;
    color: hsl(178, 100%, 50%);
}

#days-left {
    color: #beb6b6;
    float: right;
}

.nft-creator {
    display: flex;
    margin: 20px 40px 0px 40px;
}

.nft-creator img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    height:50px;
}

.nft-creator p {
    margin-left: 10px;
    color: #beb6b6;
    margin: auto auto auto 10px;
}

.nft-creator p span {
    color: #f5f5f5;
}

/* hover properties for the picture, creator name and nft name */


.nft-image img:hover {
    background-color: aqua;
}

.nft-creator span:hover {
    color: cyan;
    transition: 0.5s;
}

#Equilibrium:hover {
    color: cyan;
    transition: 0.5s ease-in-out;
}